{% load static %}
{% load i18n %}
{% load allauth account %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="form-body">
    <div class="form">
        <a class="buttons" href="{% url 'home' %}">Back</a>
        <br>
        <br>
        <h1>{% trans "Sign Out" %}</h1>
        <p>{% trans 'Are you sure you want to sign out?' %}</p>
        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {{ redirect_field }}
            <button type="submit">{% trans 'Sign Out' %}</button>
        </form>
    </div>
</body>
</html>