{% load static %}
{% load i18n %}
{% load allauth account %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" 
      content="Book now! Come and enjoy locally sourced, fine food with us.">
    <meta name="keywords" 
      content ="The Baytree Restaurant, Restaurant Booking, Baytree Booking, Local Restaurant">
    <title>Sign In</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!--favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
</head>
<body class="form-body">
    <div class="form">
        <a class="buttons" href="{% url 'home' %}">Back</a>
        <br>
        <br>
        <h1>{% trans "Sign Out" %}</h1>
        <p>{% trans 'Are you sure you want to sign out?' %}</p>
        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {{ redirect_field }}
            <button type="submit">{% trans 'Sign Out' %}</button>
        </form>
    </div>
</body>
</html>