{% load static %}
{% load allauth i18n %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" 
      content="Book now! Come and enjoy locally sourced, fine food with us.">
    <meta name="keywords" 
      content ="The Baytree Restaurant, Restaurant Booking, Baytree Booking, Local Restaurant">
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!--favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
</head>

<body class="form-body">
    <div class="form">
        {% element h1 %}
            {% trans "Sign Up" %}
        {% endelement %}
        <a class="buttons" href="{% url 'home' %}">Back</a>
        <br>
        <br>
        {% setvar link %}
            <a href="{{ login_url }}">
            {% endsetvar %}
            {% setvar end_link %}
            </a>
        {% endsetvar %}
        {% element p %}
            {% blocktranslate %}Already have an account? Then please log in <a class="buttons" href="{{ login_url }}">{{ _('sign up') }}here</a>.{% endblocktranslate %}
        {% endelement %}
        {% if not SOCIALACCOUNT_ONLY %}
            {% url 'account_signup' as action_url %}
            {% element form form=form method="post" action=action_url tags="entrance,signup" %}
                {% slot body %}
                    {% csrf_token %}
                    {% element fields form=form unlabeled=True %}
                    {% endelement %}
                    {{ redirect_field }}
                {% endslot %}
                {% slot actions %}
                    {% element button tags="prominent,signup" type="submit" %}
                        {% trans "Sign Up" %}
                    {% endelement %}
                {% endslot %}
            {% endelement %}
        {% endif %}
        {% if SOCIALACCOUNT_ENABLED %}
            {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
        {% endif %}
    </div>
</body>
</html>