
@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap');

/*asterisk wildcard command to override default browser styless*/
* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}

/*generic body style*/
body {
    min-height:100vh;
    display:flex;
    flex-direction:column;
    font-family: 'Antic Didone', sans-serif;
    font-weight:bold;
    max-width:100vw;
}

h1 {
    text-transform: uppercase;
}

/*header*/
header {
    text-align:center;
    border-bottom: 2px solid #000000;
    background-size: cover;
    background-position: center; 
    height: 40vh;
}

#menu {
    display:flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0 1rem;
    margin:6px
}

#business-info {
    padding: 8px;
    margin-bottom: 10px;
}

#info {
    text-align: center;
    margin: 10px;
}

#info p {
    margin: 10px;
}
