@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

/*asterisk wildcard command to override default browser styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*generic body style*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Marcellus', sans-serif;
    max-width: 100vw;
}

.no-decorator {
    text-decoration: none !important;
    color: black;
}

.buttons {
    text-decoration: none !important;
    font-weight: bolder;
}

/*header*/
header {
    border-bottom: 2px solid #000000;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black
}

h1 {
    text-transform: uppercase;
    margin: 20px 0;
}

#menu-items {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 20px;
    padding: 0;
    margin: 10px 0;
}

#menu-items li {
    display: inline;
}

#business-info {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px;
}

#business-info li {
    list-style: none;
}

/*homepage info*/
#info {
    text-align: center;
    margin: 20px;
}

#info p {
    margin: 10px;
}

#login-message {
    background-color: rgb(235, 221, 120);
    text-align: right;
    padding: 10px;
}

/*rules for bookings display, and related creation/edit/delete views*/
.bookings-list {
    text-align: center;
    align-items: center;
    margin-bottom: 30px;
}

#booking-details {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

#single-booking {
    flex: 1 1 20%;
}

#create-booking {
    padding: 20px;
}

#status-tbc {
    color: rgb(233, 178, 78);
}

#status-confirmed {
    color: green;
}

#booking-form {
    justify-content: right;
}

.form-field {
    margin: 5px;
}

/*footer*/
footer {
    background-color: rgb(235, 221, 120);
    height: 70px;
    border-top: solid 2px #000000;
}

/*links to social media and youtube*/
#social-media-links {
    text-align: center;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-media-links i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}


/* Desktop and larger media query */
@media screen and (min-width: 992px) {
    #info {
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 40px;
    }
}