{% extends "base.html" %}

{% block content %}

<section class="bookings-list">
    {% if user.is_authenticated %}
    <a class="buttons" id="create-booking" href="{% url 'create_booking' %}">Create a new booking</a>
    {% else %}
    <p>Please <a href="{% url 'account_login' %}">log in</a> to create a booking.</p>
    {% endif %}
    <br>
    <br>
    <section>
        {% if user.is_authenticated %}
        <h2>Your Bookings:</h2>
        <br>
        {% for bookings in object_list %}
        <p>Date: {{ bookings.date }}</p>
        <p>Time: {{ bookings.time }}</p>
        <p>Number of Guests: {{ bookings.guests_number }}</p>
        <p>Additional Requirements: {{ bookings.additional_reqs }}</p>
        <p>Confirmation Status:
            {% if bookings.status == 0 %}
            <span id="status-tbc">to be confirmed</span>
            {% elif bookings.status == 1 %}
            <span id="status-confirmed">confirmed</span>
            {% else %}
            unknown status
            {% endif %}
        </p>
        <br>
        <section>
            <a href="{% url 'edit_booking' bookings.pk %}">Edit booking</a>
            <a href="{% url 'delete_booking' bookings.pk %}">Delete booking</a>
        </section>
        <br>
        {% endfor %}
        {% endif %}
    </section>
    <br>
</section>
{% endblock %}