{% extends "base.html" %}
{% load static %}

{% block content %}

<section id="info">
    <h2>Welcome to The Baytree</h2>
    <p>The Baytree is a family-run restaurant where we pride ourselves on excellent food and service. 
        Relax in a warm, friendly atmosphere whilst enjoying gourmet dishes from our seasonal menu,
        which can be viewed and downloaded <a class="buttons" href="{% static 'Menu.pdf' %}" target="_blank">here</a>.
    </p>
    <p>Bookings can be made using our online system, and we recommend booking at least 2 weeks in advance
        due to high table demand. To make sure there is enough availability for all customers, we have a
        limit of 2 bookings at any one time, and limit our guest numbers to 10 or less.
    </p>
    <p>We will endeavor to confirm your booking as soon as we can. Thank you in advance for your understanding.</p>
</section>
<br>

<div class="bookings-list">
    {% if user.is_authenticated %}
    <a class="buttons" id="create-booking" href="{% url 'create_booking' %}">Create a new booking</a>
    {% else %}
    <p>Please <a class="buttons" href="{% url 'account_login' %}">log in</a> to create a booking.</p>
    {% endif %}
    <br>
    <br>
    <section>
        {% if user.is_authenticated %}
        <h2>Your Bookings:</h2>
        <br>
        <div id="booking-details">
            {% for bookings in object_list %}
            <div id="single-booking">
                <p>Date: {{ bookings.date }}</p>
                <p>Time: {{ bookings.time }}</p>
                <p>Number of Guests: {{ bookings.guests_number }}</p>
                <p>Additional Requirements: {{ bookings.additional_reqs }}</p>
                <p>Confirmation Status:
                    {% if bookings.status == 0 %}
                    <span id="status-tbc">to be confirmed</span>
                    {% elif bookings.status == 1 %}
                    <span id="status-confirmed">confirmed</span>
                    {% else %}
                    unknown status
                    {% endif %}
                </p>
                <br>
                <div>
                    <a class="buttons" href="{% url 'edit_booking' bookings.pk %}">Edit booking</a>
                    <br>
                    <a class="buttons" href="{% url 'delete_booking' bookings.pk %}">Delete booking</a>
                </div>
            </div>
            <br>
            {% endfor %}
            
        </div>
        {% endif %}
    </section>
    <br>
</div>
{% endblock %}