
{% extends "base.html" %}

{% block content %}
    <body>
        <a href="{% url 'create_booking' %}">Create a new booking</a>
        <br>
        <section>
            {% if user.is_authenticated %}
                <h2>Your Bookings:</h2>
                <br>
                {% for bookings in object_list %}
                    <p>Date: {{ bookings.date }}</p>
                    <p>Time: {{ bookings.time }}</p>
                    <p>Number of Guests: {{ bookings.guests_number }}</p>
                    <p>Additional Requirements: {{ bookings.additional_reqs }}</p>
                    <p>Confirmation Status: 
                        {% if bookings.status == 0 %}
                            <span id="status-tbc">to be confirmed</span>
                        {% elif bookings.status == 1 %}
                            <span id="status-confirmed">confirmed</span>
                        {% else %}
                            unknown status
                        {% endif %}
                    </p>
                    <br>
                {% endfor %}
            {% endif %}
        </section>
        <br>
    </body>
{% endblock %}