
{% load static %}

{% url 'home' as home_url %}
{% url 'bookings' as bookings_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Baytree</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'home' %}">The Baytree</a>
        <div id="menu">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == home_url %}active{% endif %}" aria-current="page"
                        href="{% url 'home' %}">Home</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link
                      {% if request.path == bookings_url %}active{% endif %}" aria-current="page"
                        <a>Book a table</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
                        >Register</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page"
                        >Logout</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
                        >Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page"
                        >Login</a>
                </li>
            </ul>
            <div>
                <a href="{% static 'static/menu.pdf' %}" target="_blank">Menu</a>
            </div>
        </div>
    </header>

    <section if="info">
        <h2>
            Welcome to The Baytree
        </h2>
        <p id="background-info">
            The Baytree is a family-run restaurant where we pride ourselves on excellent food and service. 
            Relax in a warm, friendly atmosphere whilst enjoying gourmet dishes from our seasonal menu,
            which can be viewed and downloaded <a href="static/menu.pdf">here</a>.
        </p>
        <p>
            Bookings can be made using our online system, and we recommend booking at least 2 weeks in advance
            due to high table demand. 
        </p>

    </section>

    {% block content %}>
    {% endblock %}
</body>
</html>