
{% load static %}

{% url 'home' as home_url %}
{% url 'bookings' as bookings_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Baytree</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'home' %}">The Baytree</a>
        <div>
            <ul id="menu">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == home_url %}active{% endif %}" aria-current="page" href="{{ home_url }}">Home</a>
                </li>
                <li>
                {% if user.is_authenticated %}
                    <a href="{% url 'create_booking' %}">Book a table</a>
                {% else %}
                    <a href="{% url 'account_login' %}">Book a table</a>
                {% endif %}
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page" href="{{ logout_url }}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page" href="{{ signup_url }}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page" href="{{ login_url }}">Login</a>
                    </li>
                {% endif %}
            </ul>
            <div id="menu">
                <a href="{% static 'Menu.pdf' %}" target="_blank">Menu</a>
            </div>
        </div>
    <section id="business-info">
        <ul>
            <li>
                Business Hours: 12:00pm - 21:00pm, 7 days a week
            </li>
            <li>
                Telephone: 07444 444 44
            </li>
            <li>
                Email: 
            </li>
        </ul>
    </section>
    </header>
    <br>
    <section id="login-message">
        {% if user.is_authenticated %}
        <p class="text-end m-3">You are logged in as {{ user }}</p>
        {% else %}
        <p class="text-end m-3">You are not logged in</p>
        {% endif %}
    </section>

    <section id="info">
        <h2>
            Welcome to The Baytree
        </h2>
        <p>
            The Baytree is a family-run restaurant where we pride ourselves on excellent food and service. 
            Relax in a warm, friendly atmosphere whilst enjoying gourmet dishes from our seasonal menu,
            which can be viewed and downloaded <a href="{% static 'Menu.pdf' %}" target="_blank">here</a>.
        </p>
        <p>
            Bookings can be made using our online system, and we recommend booking at least 2 weeks in advance
            due to high table demand. To make sure there is enough availability for all customers, we have a
            limit of 2 bookings at any one time, and limit our guest numbers to 10 or less. 
        </p>
        <p>
            We will endevour to 
            confirm your booking as soo as we can. Thank you in advance for your understanding
        </p>
    </section>
    <br>
    {% block content %}
    {% endblock %}
</body>
</html>