{% extends "base.html" %}

{% block content %}
<section class="bookings-list">
    <br>
    <a class="buttons" href="{% url 'home' %}">Back</a>
    <br>
    <br>
    <p>Please note, once a booking has been altered, it will need to be re-approved</p>
    <br>
    <h2>Edit Booking:</h2>
    <form class="alter-form" method ="post">
        {% csrf_token %}
        <div class="form-field">
            <label for="date">
                Date:
            </label>
            {{ form.date }}
        </div>
        <div class="form-field">
            <label for="time">
                Time:
            </label>
            {{ form.time }}
        </div>
        <div class="form-field">
            <label for="guests">
                Guests:
            </label>
            {{ form.guests_number }}
        </div>
        <div class="form-field">
            <label for="additional-reqs">
                Additional Requirements:
            </label>
            {{ form.additional_reqs }}
        </div>
        <button class="buttons" type="submit">Save Changes</button>
    </form>
</section>
{% endblock %}